<a href="https://colab.research.google.com/github/rubalsharma0mr0/hamoye_tasks/blob/main/Graded_Quiz_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1

In [ ]:
import pandas as pd

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']


pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

#2

In [2]:
import numpy as np

ruba = np.array([[94, 89, 63],
             [93, 92, 48], 
             [92, 94, 56]])

ruba[:2, 1:]

array([[89, 63],
       [92, 48]])

In [3]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [ ]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [ ]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][-1]
x

In [ ]:
csv_df = pd.read_csv('/content/Book1.csv',encoding='latin-1')
csv_df.to_csv('/content/Book1.csv', index = False)
csv_df

In [ ]:
"""
Answer the following questions based on the African food production dataset provided by the FAO website already provided
What is the total sum of Animal Fat produced in 2014 and 2017 respectively?
Hint: Perform a groupby sum aggregation on 'Item'
"""
csv_df.groupby(['Item']).sum()

In [63]:
# What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
r = csv_df['Y2015'].mean()
print(round(r,3))
p = csv_df['Y2015'].std()
round(p,3)

135.236

1603.404

In [70]:
#What is the total number and percentage of missing data in 2016 to 2 decimal places?

miss_summ = csv_df['Y2016'].isnull().sum()
per = csv_df['Y2016'].isnull().sum()*100/len(csv_df)
per_r = round(per,2)
print(miss_summ,per_r)

1535 2.52

In [ ]:
#Which year had the highest correlation with ‘Element Code’? 

csv_df.corr()
#csv_df.groupby(['Element Code','Y2014','Y2015','Y2016','Y2018']).idxmax()

In [ ]:
"""
What year has the highest sum of Import Quantity?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question
"""
csv_df.groupby(['Element']).sum()

In [ ]:
"""
What is the total number of the sum of Production in 2014?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question
"""
csv_df.groupby(['Element']).sum()

In [ ]:
"""
Which of these elements had the highest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

Which of these elements had the 3rd lowest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.  
"""
csv_df[['Element','Y2018']].groupby('Element').sum()

In [ ]:
#What is the total Import Quantity in Algeria in 2018?
csv_df.groupby(['Area','Element']).sum()

In [165]:
#What is the total number of unique countries in the dataset?
csv_df.Area.nunique(dropna = True)

49